<ion-view view-title="Missed Calls">
    <ion-content style="align-content: center">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefreshMissCall()">
        </ion-refresher>

        <div class="list card"   >

            <div class="item item-divider">Missed Call Count</div>
            <div class="item item-body">

                 <div>
                    <table style="width: 100%; border:3px solid #576966 ;align-content: center;  background-color:#F4F8FF ;">
                        <tr style="border-bottom:3px solid #CEDAEF ;background-color: #ddedf5">
                            <th style="border-right:3px solid #576966">Day</th>
                            <th style="border-right:3px solid #576966">Count</th>

                        </tr>

                        <tr>
                            <td style="border-right:3px solid #576966 ;text-align: center">Today Count:</td>
                            <td style="border-right:3px solid #576966 ;text-align: center"><b>{{today_misscall_count}}</b></td>
                        </tr>
                        <tr>
                            <td style="border-right:3px solid #576966 ;text-align: center">Yesterday Count: </td>
                            <td style="border-right:3px solid #576966 ;text-align: center"><b>{{yest_misscall_count}}</b></td>
                        </tr>
                        <tr>
                            <td style="border-right:3px solid #576966 ;text-align: center">Day Before Yesterday Count: </td>
                            <td style="border-right:3px solid #576966 ;text-align: center"><b>{{yes_b_misscall_count}}</b></td>
                        </tr>

                    </table>
                 </div>
            </div>

             <div class="item item-divider">Miss Call Count Chart</div>
                          <div class="item item-body">

                                <canvas id="bars" class="chart chart-bar" data="dataa"
                                labels="labell"></canvas>
                          </div>





             </div>

        <div style="align-content: center">
            <label class="item item-input">
                <span class="input-label">StartDate</span>
                <input type="date" ng-model="s_date"  >
            </label>
        </div>
        </br>
        <div style="align-content: center">
            <label class="item item-input">
                <span class="input-label">EndDate</span>
                <input type="date" ng-model="e_date"  >
            </label>
        </div>
        </br>
        <div  style="text-align: center" ng-controller="MissedCallCtrl" >
            <!--<a  href="#/tab/chats/{{chat.id}}">-->
            <button style="align-content: center" class="button button-calm"  ng-click="get_missed_call_data()">
                Missed Call Details
            </button>
            <!--</a>-->
        </div>



    </ion-content>
</ion-view>
